<link rel="stylesheet" href="/stylesheets/style.css">
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="/javascripts/chat.js"></script>



<script type="text/javascript">
	window.addEventListener('load',chat_app,false);
</script>

<div id="chatBox">
	<div id="chat" >
	</div>
	<div>
		<input id="userName" name="user" type="text">
	</div>
</div>

	</div>
